/* Typography */

/* Paragraph text */
.p__muli {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 300;
  letter-spacing: 0.04em;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 32px;
  font-size: 1.125rem;
}

.h2__muli {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 56px;
  font-size: 2.25rem;
}

/* Header text - h1 */
.headtext__muli {
  font-family: var(--font-base);
  color: var(--color-black);
  font-size: 3rem;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.04em;
}

/* Images */

/* Header image */
.header__img {
  width: 693px;
  height: 598px;
  top: 177px;
  left: 744px;
}

/* General layout */
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top__margin {
  margin-top: 84px;
}

/* Images */
.services__container {
  background-image: url("../../assets/images/bg\ element.png");
}

.p__padding {
  padding: 30px 5px;
}
