@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  --font-base: "Mulish", serif;

  --color-black: #0c0c0c;
  --color-white: #ffffff;
  --color-grey: #7d7987;
}

html,
body {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
