.section__header-text {
  width: 445px;
  height: 338px;
  margin-right: 50px;
}

.section__header-button {
  background-color: #458ff6;
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 500;
  letter-spacing: 1.3px;
  width: 200px;
  height: 56px;
  border-radius: 55px;
}

@media screen and (max-width: 706px) {
  .section__image img {
    width: 500px;
    height: 431px;
  }
}

@media screen and (max-width: 606px) {
  .section__header-text {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 992px) {
  .section__header-text {
    width: 75%;
  }
  .section__image {
    margin-top: 40px auto;
    text-align: center;
  }
}

@media screen and (min-width: 993px) {
  .header__row {
    flex-wrap: nowrap;
  }
  .section__image img {
    width: 693px;
    height: 598px;
  }
}
