.section__services-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.section__services-text h2 {
    color: var(--color-black);
    font-family: var(--font-base);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.section__services-text p {
    color: var(--color-grey);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 30px;
    width: 952px;
    text-align: center;
}

.separator {
    width: 56px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-black);
    margin: 22px auto 33px auto;
}

.services__overlay img {
    position: absolute;
    inset: 90% 0;
    width: 55%;
    height: 100%;
}

.card__container {
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    margin: 20px;
    border: none;
}

.card__parent {
    justify-content: center;
    align-items: center;
}