/* Logo */
.nav__logo {
    width: 160px;
    height: 41px;
  }

.nav__links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    cursor:pointer;
}

.nav-link {
    margin: 0 1rem;
}

.p__muli-active {
    font-family: var(--font-base);
    color: var(--color-black);
    font-weight: 300;
    letter-spacing: 0.04em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 22px;
    font-size: 1.1rem;
  }
  
  .p__muli-active_home {
    font-family: var(--font-base);
    color: var(--color-black);
    font-weight: 700;
    letter-spacing: 0.04em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 22px;
    font-size: 1.1rem;
  }