.testimonial__container {
  width: 50%;
  border-radius: 24px;
  background: linear-gradient(208deg, #67c3f3 9.05%, #5a98f2 76.74%);
  margin: 130px auto;
}

.review__circle {
  height: 141px;
  width: 141px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

ul.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
}

ul.slick-dots li > button::before {
  color: #5a98f2;
  opacity: 0.75;
  font-size: 12px;
}

button.slick-arrow,
button .slick-next {
  display: none;
  visibility: hidden;
}
